@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700);

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

/****************************
    COLORS 
****************************/

.verylightgrey_bg {
    background-color: #f6f6f6;
}

.lightgrey_bg {
    background-color: #eeeeee;
}

.grey_bg {
    background-color: #cccccc;
}

.pink_bg {
    background-color: #e41682;
}

/****************************
    GENERAL SETTINGS 
****************************/

body, p, a, div{
    font-family: 'Arimo', sans-serif;
    color: black;
}

div {
    padding: 0;
    margin: 0;
}

/****************************
    FONTS
****************************/

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#titlebar h1 {
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    padding: 0px 20px 9px 20px;
}

h2 {
    font-size: 20px;
    color: #e41682;
}

h3 {
    font-size: 16px;
    color: #e41682;
}

#artist_detail h3 {
    display: inline-block;
}

h4 {
    font-size: 16px;
    color: #ffffff;
}

p {
    font-size: 14px;
}

a, a:hover {
    text-decoration: none;
    color: #e41682;
}

.vita::before {
    content: "« ";
    font-size: 20px;
    font-style: italic;
    color: #cccccc;
}
.vita::after {
    content: " »";
    font-size: 20px;
    font-style: italic;
    color: #cccccc;
}
p.vita{
    color: #cccccc;
    font-size: 16px;
    font-style: italic;
}

.js_imageContainer {
    position: relative;
    width: 195px;
    height: 195px;
    overflow: hidden;
}

.js_imageContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*clip: rect(0px,195px,195px,0px);*/
}

.bildlegende, .bildlegende_big{
    padding-left: 10px;
    z-index: 1;
    position: absolute;
    white-space: pre-wrap;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#imagepreview .bildlegende {
    bottom: 0;
}

#picslider_artists .bildlegende, 
#picslider_exhibitions .bildlegende {
    top: 0;
}

.bildlegende_big{
    font-size: 20px;
}

#subnav {
    font-size: 12px;
    text-align: right;
    padding: 0;
    text-transform: uppercase;
}

#subnav li{
    display: inline;
}

#subnav li.language::before { 
    content: "| ";
    padding-right: 5px;
    padding-left: 5px;
}

#subnav a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

#subnav a:hover{
    color: #e41682;
}



/****************************
    PICSLIDER
****************************/

#imagepreview .js_imageContainer {
    position: relative;
    display: inline-block;
}

#imagepreview .js_imageContainer .werkTitel {
    display: none;
}

#imagepreview .js_imageContainer .artistTitel {
    font-size: 20px;
    max-width: 195px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#imagepreview .js_imageContainer:hover .artistTitel {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}





/****************************
    ELEMENTS
****************************/

#sikart_logo{
    margin-left: -18px;
}

#subnav {
    margin-top: 44px;
}
@media (max-width: 990px){
    #subnav {
        margin-top: 20px;
    }
}

div #topbar{
    margin-top: 10px;
}
div #titlebar {
    margin-bottom: 10px;
    margin-top:0;
    padding: 0;
    height: 60px;
}

#timelineslider{
    margin-top: 10px;
    margin-bottom: 30px;
    height: 36px;
}

#timelineslider .d3-slider-handle {
    width: 2.5em;
}

#filters{
    margin-bottom: 10px;
    padding: 10px 0px;
}

#imagepreview{
    height: 195px;
}

#artist_detail, #exhibition_detail{
    margin-bottom: 10px;
    display: none;
}

.imageprev{
    z-index: -1;
}

#picslider_artists, #picslider_exhibitions{
    margin: 20px 0px;
    padding: 0px;
    background-color: #cccccc;
}

/*Can't click on artist images*/
#picslider_artists .js_artist {
    pointer-events: none;
    cursor: default;
}

#picslider_artists .artistTitel {
    display: none;
}

#picslider_exhibitions .js_artist, #imagepreview .js_artist{
    cursor: pointer;
}

/*
.noImage {
    height: 400px;
}
*/

.d3-slider {
    font-family: 'Arimo', sans-serif !important;
    border: 0px solid #cccccc !important; 
    font-weight: 700;
    color: #ffffff !important;
}

.d3-slider-handle {
    height: 36px !important;

    border: 0px solid #fff !important;
    border-radius: 0px !important;
    background-color: #e41682 !important;
    background: linear-gradient(to bottom, #e41682 0%, #e41682 100%) !important;
}

.d3-slider-horizontal .d3-slider-handle {
    top: 0em !important;
    margin-left: -.95em !important;
}

.d3-slider .tick {
    
}

svg.d3-slider-axis.d3-slider-axis-bottom {
    margin-left: -45px !important;
    padding-top: 25px;
    opacity: 0.45;
}

/****************************
    BUTTONS
****************************/

.button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #cccccc;
    padding: 10px 20px 8px 20px;
    white-space: nowrap;
}

/*ç
.filter_btn{
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
}
*/

a.button:hover, span.button:hover {
    background-color: #e41682;
    color: #ffffff;
    cursor: pointer;
}

.button.filter_btn.btn_unselected {
    background-color: #eeeeee;
}

.btn_spacer {
}

.button.icon_artist, 
.button.icon_exhibition {
    font-size: 20px;
    line-height: 44px;
    padding: 10px 0px 8px 0px;
    margin-right: 4px;
}

.icon_artist .glyphicon,
.icon_exhibition .glyphicon {
    margin-right: 10px;
    margin-left: 10px;
}


/****************************
    MAP
****************************/

#tooltip {
        visibility: hidden;
        text-align: center;
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        background: #cccccc;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        /*-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);*/
        /*position: absolute;*/
        position: initial;

        z-index: 100;
        padding: 10px;
}

.canton:hover {
    fill: #de1677;
}


.swiss_map {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
