@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700);

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

/****************************
    COLORS 
****************************/

.verylightgrey_bg {
    background-color: #f6f6f6;
}

.lightgrey_bg {
    background-color: #eeeeee;
}

.grey_bg {
    background-color: #cccccc;
}

.pink_bg {
    background-color: #e41682;
}

/****************************
    GENERAL SETTINGS 
****************************/

body, p, a, div{
    font-family: 'Arimo', sans-serif;
    color: black;
}

div {
    padding: 0;
    margin: 0;
}

/****************************
    FONTS
****************************/

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#titlebar h1 {
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    padding: 0px 20px 9px 20px;
}

h2 {
    font-size: 20px;
    color: #e41682;
}

h3 {
    font-size: 16px;
    color: #e41682;
}

#artist_detail h3 {
    display: inline-block;
}

h4 {
    font-size: 16px;
    color: #ffffff;
}

p {
    font-size: 14px;
}

a, a:hover {
    text-decoration: none;
    color: #e41682;
}

.vita::before {
    content: "« ";
    font-size: 20px;
    font-style: italic;
    color: #cccccc;
}
.vita::after {
    content: " »";
    font-size: 20px;
    font-style: italic;
    color: #cccccc;
}
p.vita{
    color: #cccccc;
    font-size: 16px;
    font-style: italic;
}

.js_imageContainer img {
    position: relative;
}

.bildlegende, .bildlegende_big{
    padding-left: 10px;
    z-index: 1;
    position: absolute;
    top: 0;
}

.bildlegende_big{
    font-size: 20px;
}

#subnav {
    font-size: 12px;
    text-align: right;
    padding: 0;
    text-transform: uppercase;
}

#subnav li{
    display: inline;
}

#subnav li.language::before { 
    content: "| ";
    padding-right: 5px;
    padding-left: 5px;
}

#subnav a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

#subnav a:hover{
    color: #e41682;
}



/****************************
    ELEMENTS
****************************/

#sikart_logo{
    margin-left: -18px;
}

#subnav {
    margin-top: 44px;
}
@media (max-width: 990px){
    #subnav {
        margin-top: 20px;
    }
}

div #topbar{
    margin-top: 10px;
}
div #titlebar {
    margin-bottom: 10px;
    margin-top:0;
    padding: 0;
    height: 60px;
}

#timelineslider{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 36px;
}

#timelineslider .d3-slider-handle {
    width: 2.5em;
}

#filters{
    margin-bottom: 10px;
    padding: 10px 0px;
}

#imagepreview{
    height: 200px;
}

#artist_detail, #exhibition_detail{
    margin-bottom: 10px;
    display: none;
}

.imageprev{
    z-index: -1;
}

#picslider_artists, #picslider_exhibitions{
    margin: 20px 0px;
    padding: 0px;
    background-color: #cccccc;
}

/*
.noImage {
    height: 400px;
}
*/

/****************************
    BUTTONS
****************************/

.button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #cccccc;
    padding: 10px 20px 8px 20px;
}

/*ç
.filter_btn{
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
}
*/

a.button:hover {
    background-color: #e41682;
    color: #ffffff;
}

.button.filter_btn.btn_unselected {
    background-color: #eeeeee;
}

.btn_spacer {
}

.button.icon_artist, 
.button.icon_exhibition {
    font-size: 20px;
    line-height: 44px;
    padding: 10px 0px 8px 0px;
    margin-right: 4px;
}

.icon_artist .glyphicon,
.icon_exhibition .glyphicon {
    margin-right: 10px;
    margin-left: 10px;
}


/****************************
    MAP
****************************/

#tooltip {
        visibility: hidden;
        text-align: center;
        /*text-shadow: 0 1px rgba(0, 0, 0, .5);*/
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        background: #cccccc;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        /*-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);*/
        /*position: absolute;*/
        position: initial;

        z-index: 100;
        padding: 10px;
}

.canton:hover {
    fill: #de1677;
}


.swiss_map {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
